.topnav {
	position: relative;
	width: 1200px;
	height: 50px;
	top: 0;
	margin: 0 auto;
	/*overflow: hidden;*/
	border-radius: 10px;
	padding-top: 80px;

	background-image: url("https://i.imgur.com/S7un8fU.png");
	background-repeat: no-repeat;
	background-position: 1110px 50px;
	background-size: 80px 80px;
	padding-left: 0px;
	transition: 0.8s;

	z-index: 10;
}

.topnav a {
	transition: 0.8s;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 5px;
}
.topnav img {
	margin-right: 20px;
}

.topnav a:hover {
	background-color: #a5bde4;
	color: white;
	box-shadow: 0 6px 10px 5px rgba(0, 0, 0, 0.2);
	font-size: 20px;
}

.topnav a.active {
	background-color: #3b9797;
	color: white;
	border-radius: 05px;
}
body {
	font-family: Arial, sans-serif;
	margin: 40px;
	background: radial-gradient(
		circle,
		rgba(94, 137, 207, 1) 1%,
		rgba(19, 36, 64, 1) 60%
		
	);

}

h1 {
	color: white;
	text-align: center;
	font-size: 36px;
}

.presentations {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 20px;
	background: #ebf1f9;
	text-align: center;

	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);

	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 0px;
	min-height: 1000px;
	height: 100%;
	width: 1200px;

	margin: 100px auto;
	padding: 10px;
}

.presentations:hover {
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.9);
	border-radius: 30px;
}

h3 {
	color: black;
	opacity: 0.8;
	font-size: 24px;
	margin-bottom: 10px;
}

p {
	font-weight: bold;
	margin-bottom: 15px;
}

.frame {
	width: 259px;
	height: 200px;
	border: 0px solid black;
	border-radius: 0px;
	padding: 5px;
	

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 10px;
}

.frame img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: center;
}

button {
	background:#1b335a ;
	
	color:white;
	padding: 20px 100px;
	border-style: solid;
 border: none;

	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	transition: 0.6s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin: 0px;
	
}

button:hover {
	color:white;
	
border:none;
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
	border-radius: 50px;
	background-color: #a5bde4;
}

.item1 {
	grid-column: 1;
	grid-row: 1;
	transition: 000.8s;

	margin: 1px;
}
.item1:hover {
	
	border-radius: 50px;
	font-size: 24px;
}
.item2 {
	grid-column: 2;
	grid-row: 1;
	transition: 000.8s;

	margin: 1px;
}
.item2:hover {
	
	border-radius: 50px;
	font-size: 24px;
}
.item3 {
	grid-column: 3;
	grid-row: 1;
	transition: 000.8s;
	
	margin: 1px;
}
.item3:hover {
	border-radius: 50px;
	font-size: 24px;
}
.item4 {
	grid-column: 1;
	grid-row: 2;
	transition: 000.8s;

	margin: 1px;
}
.item4:hover {
	border-radius: 50px;
	font-size: 24px;
}
