html,body {height:100%;margin: 0;}
body {
   position: relative;
   
     width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;

  flex-direction: column;

  background: radial-gradient(
    circle,
    rgba(94, 137, 207, 1) 1%,
    rgba(19, 36, 64, 1) 60%
  );
}
header{
width: 100%;
min-height: 60px;
height: auto;
display: flex;
margin: 10px;
justify-content: flex-start;
align-items: flex-start;

  background-image: url("https://i.imgur.com/S7un8fU.png");
  background-repeat: no-repeat;
background-position: calc(100% - 20px) 00px;
  background-size: 60px 60px;


}
header a{
  transition: 0.8s;
  color: white;
font-size: 16px;
text-decoration: none;
cursor: pointer;
padding: 8px;
}


header a:hover {
  background-color: #a5bde4;
  color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  border-radius: 5px;
}

header a.active {
 background-color: #3B9797;
  color: white;
  border-radius: 05px;
}




.content {
  display: flex;
align-items: center;
  background: #ebf1f9;
  text-align: center;
  
  
 


  color: #16476a;
  background-color: #edf8f8;
  box-shadow: 0px 10px 10px 0px rgba(1, 1, 1, 0.3);
  transition: 0.5s;
 max-width: 800px;
  width: 90%;

padding: 10px;
min-height: 1000px;
 height: auto;



    margin: 10px auto; 
  
  

}


.content:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

h3 {
  color: black;
  opacity: 0.8;
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-weight: bold;
  margin-bottom: 24px;
}

 footer{
margin-top:  auto;
 display: flex;
  align-items: center;
  justify-content: center;
  margin-top:  auto;
  background-color: grey;
  width: 100%;
  min-height: 100px;
  height: 100px;
  z-index: 40;
  color: floralwhite;
  font-size: 20px;
}


@media (max-width: 768px) {
body{width: 100%;}
  
  .content {
    
    max-width: 90%;
    min-width: 50px;                  /* ← مهم جدًا */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap:5px;
   
  }

header{

    flex-direction: column;
    align-items: center;
    min-width: 90%;
    width:auto;
    background-size: 50px 50px;
    background-position: left top;
    height: auto;   
    margin-bottom: 80px;  

}
header img{


}
  footer {
    min-height: 100px;
    height: 50px;
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin: 10px;
  }


}
