
.content{ flex-direction: column;}

h1 {
  color: black;
  text-align: center;
  font-size: 64px;
}
.imgfather{
 height: 100%;
  width: 100%;
  position: relative;
  opacity:1;
  
}
.img2 {
 
  position: absolute;
    top:40%;
  left:25%;
 
  width: 400px;
  height: 400px;
}
.img1 {
 
   
     width: 400px;
  height: 400px;
  position: absolute;
  top:40%;
  left:25%;

  animation: rotate 7s linear infinite;
}


@keyframes rotate {
  from { transform: rotate(0); }
  to   { transform: rotate(360deg); }
}


@media (max-width: 768px) {
body{width: 100%;height: 100%;}

h1{font-size: 24px;}

.content{padding: 0;}
 .imgfather{
    position: relative;
    width: 100%;
    height: 100%;
  }

  .img1, .img2 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 10%;

  }

 
 }